/******************************/
/* --- HEADER --- */
/******************************/

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #b7d3f3;
  height: 9.6rem;
  padding: 0 4.8rem;
}

/******************************/
/* --- NAVIGATION --- */
/******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3b73b5;
}
.main-nav-link.nav-ctn:link,
.main-nav-link.nav-ctn:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #4a90e2;
}

.main-nav-link.nav-ctn:hover,
.main-nav-link.nav-ctn:active {
  background-color: #3b73b5;
}
/******************************/
/* --- HERO SECTION  --- */
/******************************/
.section-hero {
  background-color: #b7d3f3;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
  column-gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
}

.logo {
  position: absolute;
  width: 30rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -92%);
}

.hero-text-box {
  position: relative;
}

.text-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imags {
  display: flex;
}

.delivered-imags img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #b7d3f3;
}

.delivered-imags img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #3b73b5;
  font-weight: 700;
}

/******************************/
/* --- FEATURED IN SECTION --- */
/******************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/******************************/
/* --- HOW IT WORKS SECTION --- */
/******************************/

.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
  align-self: center;
}

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #bbb;
  /* color: #254871; */
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #b7d3f3;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #a5c8f1;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/******************************/
/* --- OUR SERVICES SECTION --- */
/******************************/
.section-ourservices {
  padding: 9.6rem 0;
}

.card {
  box-shadow: 0px 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.services-img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  margin-bottom: 1.2rem;
}

.card-text {
  padding: 2.4rem 0.8rem 2.4rem 0.8rem;
}

.icon {
  color: #4a90e2;
  flex-shrink: 0;
}

.card-box-title {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
}

.card-box-description {
  /* padding: 0.6rem 1.2rem; */
  display: flex;
  gap: 0.8rem;
}

.services-title {
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
}
.title-icon {
  width: 2.8rem;
  height: 2.8rem;
}

.services-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.description-icon {
  width: 2.4rem;
  height: 2.4rem;
}
/******************************/
/* --- ABOUT US SECTION --- */
/******************************/
.section-about {
  padding: 9.6rem 0;
}

.text-about {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 8rem;
}

.heading-free {
  font-size: 3.2rem;
  font-weight: 600;
  color: #4a90e2;
  margin-bottom: 1.8rem;
}

.list-about {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list-about li {
  display: flex;
  gap: 1.2rem;
}

.list-about li ion-icon {
  color: #4a90e2;
  font-style: normal;
}

.input-group {
  display: flex;
  gap: 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
}

.email-input {
  flex: 1;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  outline: none;
  color: #333;
}

.email-input::placeholder {
  color: #999;
}

.get-started-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.get-started-btn:hover {
  background-color: #3b73b5;
}

/******************************/
/* --- TESRIMONIALS SECTION --- */
/******************************/
.section-testimonials {
  background-color: #b7d3f3;
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* align-items: center; */
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/******************************/
/* --- CTA SECTION --- */
/******************************/
.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #4a90e2;
  background-image: linear-gradient(to right bottom, #80b1eb, #4a90e2);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  /* height: 50rem; */
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #1e3a5a;
}

.cta-text-box .heading-secondary {
  color: inherit;
  /* color: #1e3a5a; */
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(128, 176, 235, 0.3),
      rgba(74, 145, 226, 0.3)
    ),
    url(../img/cta/cta.jpg);
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  color: inherit;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.textarea {
  grid-column: 1 / -1; /* ياخد العرض كله */
}

#message {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: 2px solid #ccc;
  border-radius: 9px;

  resize: none;
  overflow-y: auto;

  transition: all 0.3s;
}

/* Hover */
#message:hover {
  border-color: #007bff;
}

/* Focus */
#message:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

/* Placeholder */
#message::placeholder {
  color: #999;
  font-style: italic;
}
.btn--form {
  background-color: #1e3a5a;
  color: #fff;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #1e3a5a;
}

.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(183, 211, 243, 0.5);
}
